<main class="bg-gray-100 min-h-screen flex flex-col">
    <div class="flex-grow flex items-center justify-center">
        <div class="text-center px-4">
            <h1 class="text-4xl md:text-6xl font-bold text-blue-800 mb-4">Próximamente</h1>
            <p class="text-xl md:text-2xl text-gray-600 mb-8 text-center">Estamos trabajando en nuestro nuevo sitio web. ¡Vuelve pronto para descubrir todo lo que está pasando en el Colegio Sagesse!</p>
            <div class="flex justify-center space-x-4 mb-8">
                <i class="ri-book-2-fill text-5xl text-blue-600"></i>
                <i class="ri-pencil-fill text-5xl text-green-600"></i>
                <i class="ri-graduation-cap-fill text-5xl text-yellow-600"></i>
            </div>
        </div>
    </div>
</main>
