<!-- Navigation bar -->
<header class="header">
    <nav class="nav container">
        <a href="#" class="nav__logo-link">
            <img src="img/logo-sm.png" alt="Logo del Colegio Sagesse" class="nav__logo">
        </a>
        <div class="nav__menu show-menu" [ngClass]="{'show-menu': showMenu}">
            <a href="#">
                <img src="img/logo-sm.png" alt="" class="nav__mobile-logo">
            </a>
            <div class="nav__list-container">
                <ul class="nav__list">
                    <li class="nav__item" routerLink="" routerLinkActive="active" (click)="toggleNavbar()">Inicio</li>
                    <li class="nav__item" routerLink="/quienes-somos" routerLinkActive="active" (click)="toggleNavbar()">Quiénes Somos</li>
                    <li class="nav__item" routerLink="/oferta-educativa" routerLinkActive="active" (click)="toggleNavbar()">Oferta Educativa</li>
                    <li class="nav__item" routerLink="/admisiones" routerLinkActive="active" (click)="toggleNavbar()">Admisiones</li>
                    <li class="nav__item" routerLink="/vida-estudiantil" routerLinkActive="active" (click)="toggleNavbar()">Vida Estudiantil</li>
                    <li class="nav__item" routerLink="/blog" routerLinkActive="active" (click)="toggleNavbar()">Blog</li>
                    <li class="nav__item" routerLink="/contacto" routerLinkActive="active" (click)="toggleNavbar()">Contacto</li>
                </ul>
            </div>
            <div class="nav__spacer"></div>
    
            <a href="#" class="nav__btn">Gestión Escolar</a>

            <div class="nav__close" id="nav-close" (click)="toggleNavbar()">
                <i class="ri-close-line"></i>
            </div>
        </div>

        <div class="nav__toggle" id="nav-toggle" (click)="toggleNavbar()">
            <i class="ri-menu-fill"></i>
        </div>
    </nav>
</header>
