<!-- Navigation bar -->
<header class="header">
    <nav class="nav container">
        <a href="#" class="nav__logo-link">
            <img src="img/logo-sm.png" alt="Logo del Colegio Sagesse" class="nav__logo">
        </a>
        <ul class="nav__list">
            <li class="nav__item" routerLink="" routerLinkActive="active">Inicio</li>
            <li class="nav__item" routerLink="/quienes-somos" routerLinkActive="active">Quiénes Somos</li>
            <li class="nav__item" routerLink="/oferta-educativa" routerLinkActive="active">Oferta Educativa</li>
            <li class="nav__item" routerLink="/admisiones" routerLinkActive="active">Admisiones</li>
            <li class="nav__item" routerLink="/vida-estudiantil" routerLinkActive="active">Vida Estudiantil</li>
            <li class="nav__item" routerLink="/blog" routerLinkActive="active">Blog</li>
            <li class="nav__item" routerLink="/contacto" routerLinkActive="active">Contacto</li>
        </ul>
        <a href="#" class="nav__btn">Gestión Escolar</a>
    </nav>
</header>
