.hero {
    min-height: 85vh;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.hero__img1, .hero__img2, .hero__img3, .hero__img4,
.hero__circle1, .hero__circle2, .hero__circle3, .hero__circle4, .hero__circle5 {
    position: absolute;
    border-radius: 50%;
}

.hero__img1 {
    left: 48px;
    top: 146px;
    width: 350px;
    height: 350px;
}

.hero__img2 {
    left: 545px;
    top: 263px;
    width: 250px;
    height: 250px;
}

.hero__img3 {
    left: 731px;
    bottom: 137px;
    width: 100px;
    height: 100px;
}

.hero__img4 {
    left: 337px;
    bottom: 127px;
    width: 200px;
    height: 200px;
}

.hero__circle1 {
    width: 230px;
    height: 230px;
    background-color: var(--first-color1);
    left: 115px;
    bottom: 178px;
}

.hero__circle2 {
    width: 160px;
    height: 160px;
    background-color: var(--first-color2);
    left: 434px;
    top: 303px;
}

.hero__circle3 {
    width: 100px;
    height: 100px;
    background-color: var(--first-color3);
    left: 435px;
    bottom: 271px;
}

.hero__circle4 {
    width: 60px;
    height: 60px;
    background-color: var(--first-color4);
    left: 531px;
    bottom: 223px;
}

.hero__circle5 {
    width: 200px;
    height: 200px;
    background-color: var(--first-color4);
    left: 531px;
    bottom: 183px;
}

.hero__container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.hero__copy {
    width: 50%;
}

.hero__subtitle, .hero__description {
    color: var(--text-color-light);
}

.hero__subtitle {
    font-size: var(--big-font-size);
    font-weight: 500;
    color: var(--text-color-light);
}

.hero__title {
    font-family: var(--title-font);
    font-size: var(--biggest-font-size);
    font-weight: 600;
    color: var(--text-color);
}

.hero__description {
    font-weight: 400;
}

// Levels
.levels {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.level__img {
    border-radius: 50%;
    width: 600px;
    height: 600px;
    flex-shrink: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &.left-img {
        left: 0;
    }
    
    &.right-img {
        right: 0;
    }
}

.levels__card {
    background-color: var(--white-color);
}

.level__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    position: relative;

    &.right-card {
        flex-direction: row;
    }

    &.right-card {
        flex-direction: row-reverse;
    }
}

.level__copy {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
    padding-block: 2rem;

    &.left-copy {
        align-items: flex-start;

        & .level__description {
            text-align-last: left;
        }
    }

    &.right-copy {
        align-items: flex-end;

        & .level__description {
            text-align-last: right;
        }
    }
}

.level__title {
    font-size: var(--title-font-size);
    color: var(--text-color);
}

.level__button {
    padding: 1.5rem 3rem;
    color: var(--light-color);
    background-color: var(--first-color1);
    border: none;
    border-radius: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .5rem;

    i {
        font-size: 2rem;
    }
}
