.hero {
    min-height: 85vh;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.hero__img1, .hero__img2, .hero__img3, .hero__img4,
.hero__circle1, .hero__circle2, .hero__circle3, .hero__circle4, .hero__circle5 {
    position: absolute;
    border-radius: 50%;
}

.hero__img1 {
    left: 48px;
    top: 146px;
    width: 350px;
    height: 350px;
}

.hero__img2 {
    left: 445px;
    top: 263px;
    width: 250px;
    height: 250px;
}

.hero__img3 {
    left: 500px;
    top: 507px;
    width: 130px;
    height: 130px;
}

.hero__img4 {
    left: 207px;
    top: 527px;
    width: 200px;
    height: 200px;
}

.hero__circle1 {
    width: 230px;
    height: 230px;
    background-color: var(--first-color1);
    left: 115px;
    top: 378px;
}

.hero__circle2 {
    width: 120px;
    height: 120px;
    background-color: var(--first-color2);
    left: 334px;
    top: 303px;
}

.hero__circle3 {
    width: 100px;
    height: 100px;
    background-color: var(--first-color3);
    left: 435px;
    top: 450px;
}

.hero__circle4 {
    width: 60px;
    height: 60px;
    background-color: var(--first-color4);
    left: 451px;
    top: 523px;
}

.hero__circle5 {
    width: 200px;
    height: 200px;
    background-color: var(--first-color4);
    left: 280px;
    top: 403px;
}

.hero__container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.hero__copy {
    width: 50%;
}

.hero__subtitle, .hero__description {
    color: var(--text-color-light);
}

.hero__subtitle {
    font-size: var(--big-font-size);
    font-weight: 500;
    color: var(--text-color-light);
}

.hero__title {
    font-family: var(--title-font);
    font-size: var(--biggest-font-size);
    font-weight: 600;
    color: var(--text-color);
}

.hero__description {
    font-weight: 400;
}

// Levels
.levels {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.level__img {
    border-radius: 50%;
    width: 600px;
    height: 600px;
    flex-shrink: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &.left-img {
        left: 0;
    }
    
    &.right-img {
        right: 0;
    }
}

.levels__card {
    background-color: var(--white-color);
}

.level__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    position: relative;

    &.right-card {
        flex-direction: row;
    }

    &.right-card {
        flex-direction: row-reverse;
    }
}

.level__copy {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
    padding-block: 2rem;

    &.left-copy {
        align-items: flex-start;

        & .level__description {
            text-align-last: left;
        }
    }

    &.right-copy {
        align-items: flex-end;

        & .level__description {
            text-align-last: right;
        }
    }
}

.level__title {
    font-size: var(--title-font-size);
    color: var(--text-color);
}

.level__button {
    padding: 1.5rem 3rem;
    color: var(--light-color);
    background-color: var(--first-color1);
    border: none;
    border-radius: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .5rem;

    i {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1536px) {
    .hero__img1 {
        left: 48px;
        top: 146px;
        width: 300px;
        height: 300px;
    }

    .hero__img2 {
        left: 345px;
        top: 263px;
        width: 200px;
        height: 200px;
    }

    .hero__img3 {
        left: 400px;
        top: 457px;
        width: 100px;
        height: 100px;
    }

    .hero__img4 {
        left: 207px;
        top: 527px;
        width: 150px;
        height: 150px;
    }

    .hero__circle1 {
        width: 200px;
        height: 200px;
        background-color: var(--first-color1);
        left: 115px;
        top: 378px;
    }

    .hero__circle2 {
        width: 90px;
        height: 90px;
        background-color: var(--first-color2);
        left: 334px;
        top: 303px;
    }

    .hero__circle3 {
        width: 70px;
        height: 70px;
        background-color: var(--first-color3);
        left: 335px;
        top: 471px;
    }

    .hero__circle4 {
        width: 50px;
        height: 50px;
        background-color: var(--first-color4);
        left: 291px;
        top: 480px;
    }

    .hero__circle5 {
        width: 150px;
        height: 150px;
        background-color: var(--first-color4);
        left: 280px;
        top: 353px;
    }
}

@media screen and (max-width: 1280px) {
    .hero__img1 {
        left: 48px;
        top: 146px;
        width: 250px;
        height: 250px;
    }

    .hero__img2 {
        left: 285px;
        top: 263px;
        width: 150px;
        height: 150px;
    }

    .hero__img3 {
        left: 330px;
        top: 407px;
        width: 70px;
        height: 70px;
    }

    .hero__img4 {
        left: 207px;
        top: 427px;
        width: 100px;
        height: 100px;
    }

    .hero__circle1 {
        width: 150px;
        height: 150px;
        background-color: var(--first-color1);
        left: 115px;
        top: 300px;
    }

    .hero__circle2 {
        width: 60px;
        height: 60px;
        background-color: var(--first-color2);
        left: 234px;
        top: 303px;
    }

    .hero__circle3 {
        width: 50px;
        height: 50px;
        background-color: var(--first-color3);
        left: 300px;
        top: 420px;
    }

    .hero__circle4 {
        width: 40px;
        height: 40px;
        background-color: var(--first-color4);
        left: 311px;
        top: 400px;
    }

    .hero__circle5 {
        width: 100px;
        height: 100px;
        background-color: var(--first-color4);
        left: 230px;
        top: 353px;
    }
}

@media screen and (max-width: 1024px) {
    .hero__img1 {
        left: 48px;
        top: 106px;
        width: 200px;
        height: 200px;
    }

    .hero__img2 {
        left: auto;
        right: 48px;
        top: 133px;
        width: 150px;
        height: 150px;
    }

    .hero__img3 {
        left: 60px;
        top: auto;
        bottom: 30px;
        width: 250px;
        height: 250px;
    }

    .hero__img4 {
        left: auto;
        right: 40px;
        top: auto;
        bottom: 55px;
        width: 180px;
        height: 180px;
    }

    .hero__circle1 {
        width: 100px;
        height: 100px;
        background-color: var(--first-color1);
        left: 148px;
        top: 226px;
    }

    .hero__circle2 {
        width: 60px;
        height: 60px;
        background-color: var(--first-color2);
        left: auto;
        right: 48px;
        top: 253px;
    }

    .hero__circle3 {
        width: 100px;
        height: 100px;
        background-color: var(--first-color3);
        left: 30px;
        top: auto;
        bottom: 0px;
    }

    .hero__circle4 {
        width: 40px;
        height: 40px;
        background-color: var(--first-color3);
        left: auto;
        right: 140px;
        top: auto;
        bottom: 35px;
    }   

    .hero__circle5 {
        width: 100px;
        height: 100px;
        background-color: var(--first-color4);
        left: auto;
        right: 150px;
        top: auto;
        bottom: 35px;
    }

    .hero__container {
        justify-content: center;
    }

    .hero__copy {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero__subtitle, .hero__title, .hero__description {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .steps__container {
        flex-direction: column;
    }
}

@media screen and (max-width: 640px) {
    .hero__img1 {
        left: 48px;
        top: 106px;
        width: 20vw;
        height: 20vw;
    }

    .hero__img2 {
        left: auto;
        right: 48px;
        top: 133px;
        width: 25vw;
        height: 25vw;
    }

    .hero__img3 {
        left: 60px;
        top: auto;
        bottom: 30px;
        width: 30vw;
        height: 30vw;
    }

    .hero__img4 {
        left: auto;
        right: 40px;
        top: auto;
        bottom: 55px;
        width: 23vw;
        height: 23vw;
    }

    .hero__circle1 {
        width: 10vw;
        height: 10vw;
        background-color: var(--first-color1);
        left: 100px;
        top: 156px;
    }

    .hero__circle2 {
        width: 8vw;
        height: 8vw;
        background-color: var(--first-color2);
        left: auto;
        right: 128px;
        top: 213px;
    }

    .hero__circle3 {
        width: 12vw;
        height: 12vw;
        background-color: var(--first-color3);
        left: 35px;
        top: auto;
        bottom: 30px;
    }

    .hero__circle4 {
        width: 7vw;
        height: 7vw;
        background-color: var(--first-color3);
        left: auto;
        right: 70px;
        top: auto;
        bottom: 40px;
    }

    .hero__circle5 {
        width: 15vw;
        height: 15vw;
        background-color: var(--first-color4);
        left: auto;
        right: 20px;
        top: auto;
        bottom: 35px;
    }
}
