<main class="main">
    <!-- Hero -->
    <section class="hero">
        <div class="hero__container container">
            <div class="hero__copy">
                <h2 class="hero__subtitle">Conoce nuestra</h2>
                <h1 class="hero__title">Oferta Educativa</h1>
                <p class="hero__description">Educación integral con enfoque humanista.</p>
            </div>
        </div>

        <div class="hero__collage">
            <img src="img/collage3.jpg" alt="" class="hero__img1">
            <img src="img/collage4.jpg" alt="" class="hero__img2">
            <img src="img/collage5.jpg" alt="" class="hero__img3">
            <img src="img/collage6.jpg" alt="" class="hero__img4">
            <div class="hero__circle5"></div>
            <div class="hero__circle4"></div>
            <div class="hero__circle3"></div>
            <div class="hero__circle2"></div>
            <div class="hero__circle1"></div>
        </div>
    </section>

    <!-- Level cards -->
    <section class="levels section">
        <div class="levels__card">
            <div class="level__container left-card container">
                <img src="img/collage6.jpg" alt="" class="level__img left-img">
                <div class="level__copy left-copy">
                    <h3 class="level__title">Maternal</h3>
                    <p class="level__description">Lorem ipsum dolor sit amet consectetur. Ullamcorper nec iaculis eget a nisl nunc. Arcu lectus etiam erat blandit. Vulputate amet sollicitudin adipiscing scelerisque a sit proin. Vestibulum cursus lacinia nunc suscipit gravida non varius sociis etiam. Arcu purus urna gravida viverra placerat. Sed blandit ut odio non feugiat.</p>

                    <button class="level__button">Ver más <i class="ri-send-plane-fill"></i></button>
                </div>
            </div>
        </div>

        <div class="levels__card">
            <div class="level__container right-card container">
                <img src="img/collage7.jpg" alt="" class="level__img right-img">
                <div class="level__copy right-copy">
                    <h3 class="level__title">Preescolar</h3>
                    <p class="level__description">Lorem ipsum dolor sit amet consectetur. Ullamcorper nec iaculis eget a nisl nunc. Arcu lectus etiam erat blandit. Vulputate amet sollicitudin adipiscing scelerisque a sit proin. Vestibulum cursus lacinia nunc suscipit gravida non varius sociis etiam. Arcu purus urna gravida viverra placerat. Sed blandit ut odio non feugiat.</p>

                    <button class="level__button">Ver más <i class="ri-send-plane-fill"></i></button>
                </div>
            </div>
        </div>

        <div class="levels__card">
            <div class="level__container left-card container">
                <img src="img/collage8.jpg" alt="" class="level__img left-img">
                <div class="level__copy left-copy">
                    <h3 class="level__title">Prefirst</h3>
                    <p class="level__description">Lorem ipsum dolor sit amet consectetur. Ullamcorper nec iaculis eget a nisl nunc. Arcu lectus etiam erat blandit. Vulputate amet sollicitudin adipiscing scelerisque a sit proin. Vestibulum cursus lacinia nunc suscipit gravida non varius sociis etiam. Arcu purus urna gravida viverra placerat. Sed blandit ut odio non feugiat.</p>

                    <button class="level__button">Ver más <i class="ri-send-plane-fill"></i></button>
                </div>
            </div>
        </div>

        <div class="levels__card">
            <div class="level__container right-card container">
                <img src="img/collage9.jpg" alt="" class="level__img right-img">
                <div class="level__copy right-copy">
                    <h3 class="level__title">Primaria</h3>
                    <p class="level__description">Lorem ipsum dolor sit amet consectetur. Ullamcorper nec iaculis eget a nisl nunc. Arcu lectus etiam erat blandit. Vulputate amet sollicitudin adipiscing scelerisque a sit proin. Vestibulum cursus lacinia nunc suscipit gravida non varius sociis etiam. Arcu purus urna gravida viverra placerat. Sed blandit ut odio non feugiat.</p>

                    <button class="level__button">Ver más <i class="ri-send-plane-fill"></i></button>
                </div>
            </div>
        </div>

        <div class="levels__card">
            <div class="level__container left-card container">
                <img src="img/collage10.jpg" alt="" class="level__img left-img">
                <div class="level__copy left-copy">
                    <h3 class="level__title">Secundaria</h3>
                    <p class="level__description">Lorem ipsum dolor sit amet consectetur. Ullamcorper nec iaculis eget a nisl nunc. Arcu lectus etiam erat blandit. Vulputate amet sollicitudin adipiscing scelerisque a sit proin. Vestibulum cursus lacinia nunc suscipit gravida non varius sociis etiam. Arcu purus urna gravida viverra placerat. Sed blandit ut odio non feugiat.</p>

                    <button class="level__button">Ver más <i class="ri-send-plane-fill"></i></button>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact -->
    <app-contact-link></app-contact-link>
</main>
