<div class="contact">
    <div class="contact__container">
        <div class="form-section__container">
            <div class="form-section__content">
                <h1 class="contact__title">¿Quiéres formar parte de la familia Sagesse?</h1>

                <form action="post" class="contact__form">
                    <div class="form__group">
                        <label for="nombre" class="form__label">Nombre</label>
                        <input type="text" id="nombre" name="nombre" required class="form__input">
                    </div>
                    <div class="form__group">
                        <label for="telefono" class="form__label">Número de teléfono</label>
                        <input type="text" id="telefono" name="telefono" required class="form__input">
                    </div>
                    <div class="form__group">
                        <label for="email" class="form__label">Correo electrónico</label>
                        <input type="text" id="email" name="email" required class="form__input">
                    </div>
    
                    <p class="form__policy">Al hacer clic en <strong>Enviar</strong>, reconozco que mis datos serán tratados de acuerdo al <a href="#" target="_blank" rel="noopener noreferrer">Aviso de Privacidad</a> del Colegio Sagesse.</p>
    
                    <button type="submit" class="form__button">Enviar <i class="ri-send-plane-fill"></i></button>
                </form>
            </div>
            <div class="form-section__overlay"></div>
        </div>
        <div class="info__container">
            <div class="contact__description">
                <p>En la Familia Sagesse estamos entusiasmados por conocerte, ya sea que estés interesado en inscribir a tu hijo, quieras conocer más sobre nuestras instalaciones, o simplemente desees obtener más información sobre nuestra filosofía educativa, estamos aquí para asistirte.</p>

                <p>Completa el siguiente formulario y con gusto te ayudaremos a tomar la mejor decisión. Estamos comprometidos en ofrecerte una respuesta rápida y detallada.</p>
            </div>
            <div class="contact__links-section">
                <div class="contact__links">
                    <div class="contact__item">
                        <i class="ri-map-pin-fill"></i> <span class="contact__info">Risco 17, La Marquesa Ánimas,<br>C.P. 91193, Xalapa, Ver.</span>
                    </div>
                    <div class="contact__item">
                        <i class="ri-phone-fill"></i> <span class="contact__info">22 88 13 63 60 · 22 88 13 70 37</span>
                    </div>
                    <div class="contact__item">
                        <i class="ri-whatsapp-fill"></i> <span class="contact__info">22 81 22 99 93</span>
                    </div>
                    <div class="contact__item">
                        <i class="ri-mail-fill"></i> <span class="contact__info">contacto&#64;colegiosagesse.com</span>
                    </div>
                </div>
                <div class="contact__social">
                    <a href="https://www.instagram.com/colegiosagesse" target="_blank" rel="noopener noreferrer"><i class="ri-instagram-fill"></i></a>
                    <a href="https://www.facebook.com/ColegioSagesse" target="_blank" rel="noopener noreferrer"><i class="ri-facebook-circle-fill"></i></a>
                    <a href="http://" target="_blank" rel="noopener noreferrer"><i class="ri-tiktok-fill"></i></a>
                    <a href="https://www.youtube.com/@colegiosagesse6822" target="_blank" rel="noopener noreferrer"><i class="ri-youtube-fill"></i></a>
                </div>
            </div>
        </div>
        <div class="contact__circle"></div>
    </div>
</div>
