<main class="main">
    <!-- Hero -->
    <section class="hero">
        <div class="hero__container container">
            <div class="hero__copy">
                <h2 class="hero__subtitle">Colegio Sagesse</h2>
                <h1 class="hero__title">¿Quiénes Somos?</h1>
                <p class="hero__description">Lorem ipsum dolor sit amet consectetur. Varius vitae a volutpat in imperdiet sed volutpat aliquet. Molestie ligula habitasse sed purus.</p>
            </div>
        </div>

        <img src="img/collage11.jpg" alt="" class="hero__img1">
        <img src="img/collage4.jpg" alt="" class="hero__img2">
        <img src="img/collage3.jpg" alt="" class="hero__img3">

        <div class="hero__circles">
            <div class="hero__circle4"></div>
            <div class="hero__circle3"></div>
            <div class="hero__circle2"></div>
            <div class="hero__circle1"></div>
        </div>
    </section>

    <!-- Story -->
    <section class="story section">
        <div class="story__container container">
            <div class="story__copy">
                <h2 class="story__title">Nuestra Historia</h2>
                <p class="story__description">Lorem ipsum dolor sit amet consectetur. Suspendisse nulla quam dignissim nulla diam in justo mattis ridiculus. Faucibus ipsum tellus consectetur elementum faucibus dictumst at risus cursus. Scelerisque etiam vitae ut vel amet diam integer ac pellentesque. Risus amet cras pellentesque ac neque non aliquam pellentesque. Egestas velit dui massa consequat fusce nibh. Vel placerat morbi nibh sapien nulla molestie faucibus nisi.</p>
            </div>

            <img src="img/collage7.jpg" alt="" class="story__img">
        </div>
    </section>

    <!-- Mission & Vision -->
    <section class="missionVision section">
        <div class="missionVision__container container">
            <div class="missionVission__mission">
                <i class="ri-flag-fill missionVision__icon"></i>
                <div class="missionVision__copy">
                    <h2 class="missionVision__title">Misión</h2>
                    <p class="missionVision__text">Llegar a ser la institución educativa integral de mayor prestigio, mediante la mejora constante en su nivel académico, respetando la individualidad de la persona.</p>
                </div>
            </div>
            <div class="missionVission__vision">
                <i class="ri-eye-fill missionVision__icon"></i>
                <div class="missionVision__copy">
                    <h2 class="missionVision__title">Visión</h2>
                    <p class="missionVision__text">Ser una institución educativa que forme a sus alumnos con los más altos estándares educativos y los guíe por el camino del éxito para lograr la excelencia educativa.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Values -->
    <section class="values section">
        <div class="values__container container">
            <h2 class="values__title">Nuestros Valores</h2>

            <div class="values__values">
                <div class="values__row">
                    <div class="value__card blue-card">
                        <h3 class="value__title">Sensatez</h3>
                        <p class="value__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quidem vel, est molestiae possimus quos.</p>
                        <div class="value__circle"></div>
                    </div>

                    <div class="value__card green-card">
                        <h3 class="value__title">Templanza</h3>
                        <p class="value__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quidem vel, est molestiae possimus quos.</p>
                        <div class="value__circle"></div>
                    </div>
                </div>

                <div class="values__row">
                    <div class="value__card blue-card">
                        <h3 class="value__title">Sabiduría</h3>
                        <p class="value__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quidem vel, est molestiae possimus quos.</p>
                        <div class="value__circle"></div>
                    </div>

                    <div class="value__card green-card">
                        <h3 class="value__title">Templanza</h3>
                        <p class="value__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quidem vel, est molestiae possimus quos.</p>
                        <div class="value__circle"></div>
                    </div>
                </div>

                <div class="values__row">
                    <div class="value__card blue-card">
                        <h3 class="value__title">Sensatez</h3>
                        <p class="value__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quidem vel, est molestiae possimus quos.</p>
                        <div class="value__circle"></div>
                    </div>

                    <div class="value__card green-card">
                        <h3 class="value__title">Templanza</h3>
                        <p class="value__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quidem vel, est molestiae possimus quos.</p>
                        <div class="value__circle"></div>
                    </div>
                </div>

                <div class="values__row">
                    <div class="value__card blue-card">
                        <h3 class="value__title">Sensatez</h3>
                        <p class="value__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quidem vel, est molestiae possimus quos.</p>
                        <div class="value__circle"></div>
                    </div>

                    <div class="value__card green-card">
                        <h3 class="value__title">Templanza</h3>
                        <p class="value__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quidem vel, est molestiae possimus quos.</p>
                        <div class="value__circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Philosophy -->
    <section class="philosophy section">
        <div class="philosophy__container container">
            <h2 class="philosophy__title">Filosofía <br>Educativa</h2>

            <p class="philosophy__description">Somos una comunidad educativa inclusiva, es decir, promovemos que todos nuestros alumnos se desarrollen integralmente. Ello implica reconocer la diversidad para dar respuesta a las necesidades educativas de todos y la responsabilidad de educar desde los principios de equidad, justicia, solidaridad, reciprocidad e igualdad, ofreciendo las mismas oportunidades para todos.</p>
        </div>

        <img src="img/collage8.jpg" alt="" class="philosophy__img">
    </section>

    <!-- Contact link -->
    <app-contact-link></app-contact-link>
</main>
