<main class="main">
    <!-- Hero -->
    <section class="hero">
        <div class="hero__container container">
            <div class="hero__copy">
                <h2 class="hero__subtitle">Colegio Sagesse</h2>
                <h1 class="hero__title">¿Quiénes Somos?</h1>
                <p class="hero__description">Lorem ipsum dolor sit amet consectetur. Varius vitae a volutpat in imperdiet sed volutpat aliquet. Molestie ligula habitasse sed purus.</p>
            </div>
        </div>

        <img src="img/collage11.jpg" alt="" class="hero__img1">
        <img src="img/collage4.jpg" alt="" class="hero__img2">
        <img src="img/collage3.jpg" alt="" class="hero__img3">

        <div class="hero__circles">
            <div class="hero__circle4"></div>
            <div class="hero__circle3"></div>
            <div class="hero__circle2"></div>
            <div class="hero__circle1"></div>
        </div>
    </section>

    <!-- Story -->
    <section class="story section">
        <div class="story__container container">
            <div class="story__copy">
                <h2 class="story__title">Nuestra Historia</h2>
                <p class="story__description">Lorem ipsum dolor sit amet consectetur. Suspendisse nulla quam dignissim nulla diam in justo mattis ridiculus. Faucibus ipsum tellus consectetur elementum faucibus dictumst at risus cursus. Scelerisque etiam vitae ut vel amet diam integer ac pellentesque. Risus amet cras pellentesque ac neque non aliquam pellentesque. Egestas velit dui massa consequat fusce nibh. Vel placerat morbi nibh sapien nulla molestie faucibus nisi.</p>
            </div>

            <img src="img/collage7.jpg" alt="" class="story__img">
        </div>
    </section>

    <!-- Mission & Vision -->
     <section class="missionVision section">
        <div class="missionVision__container container">
            <div class="missionVission__mission">
                <i class="ri-flag-fill missionVision__icon"></i>
                <div class="missionVision__copy">
                    <h2 class="missionVision__title">Misión</h2>
                    <p class="missionVision__text">Llegar a ser la institución educativa integral de mayor prestigio, mediante la mejora constante en su nivel académico, respetando la individualidad de la persona.</p>
                </div>
            </div>
            <div class="missionVission__vision">
                <i class="ri-eye-fill missionVision__icon"></i>
                <div class="missionVision__copy">
                    <h2 class="missionVision__title">Visión</h2>
                    <p class="missionVision__text">Ser una institución educativa que forme a sus alumnos con los más altos estándares educativos y los guíe por el camino del éxito para lograr la excelencia educativa.</p>
                </div>
            </div>
        </div>
     </section>
</main>
