.main {
    background-image: url('/img/pattern-1.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: var(--second-color5);
}

.hero {
    min-height: 85vh;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.hero__img1, .hero__img2, .hero__img3,
.hero__circle1, .hero__circle2, .hero__circle3, .hero__circle4 {
    position: absolute;
    border-radius: 50%;
}

.hero__img1 {
    right: 30vw;
    bottom: 305px;
    width: 300px;
    height: 300px;
}

.hero__img2 {
    right: 62px;
    bottom: -155px;
    width: 500px;
    height: 500px;
}

.hero__img3 {
    right: 73px;
    top: 103px;
    width: 330px;
    height: 330px;
}

.hero__circle1 {
    width: 200px;
    height: 200px;
    background-color: var(--second-color1);
    right: 15vw;
    bottom: 275px;
}

.hero__circle2 {
    width: 150px;
    height: 150px;
    background-color: var(--second-color2);
    right: 21vw;
    top: 322px;
}

.hero__circle3 {
    width: 100px;
    height: 100px;
    background-color: var(--second-color3);
    right: 25vw;
    top: 270px;
}

.hero__circle4 {
    width: 60px;
    height: 60px;
    background-color: var(--second-color4);
    right: 25vw;
    top: 230px;
}

.hero__container {
    width: 100%;
}

.hero__copy {
    width: 50%;
}

.hero__subtitle, .hero__description {
    color: var(--text-color-light);
}

.hero__subtitle {
    font-size: var(--big-font-size);
    font-weight: 500;
    color: var(--text-color-light);
}

.hero__title {
    font-family: var(--title-font);
    font-size: var(--biggest-font-size);
    font-weight: 600;
    color: var(--text-color);
}

.hero__description {
    font-weight: 400;
}

// Story
.story {
    background: linear-gradient(180deg, #066595 0%, #0077B3 50%, #066595 100%);
    min-height: 80vh;
}

.story__container {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.story__copy {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.story__title {
    font-family: var(--title-font);
    font-size: var(--title-font-size);
    color: var(--light-color);
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.50);
}

.story__description {
    color: var(--light-color);
}

.story__img {
    width: 40rem;
    border-radius: 50%;
    box-shadow: 0px 8px 8px 0px rgba(73, 73, 73, 0.25);
}

// Mission & Vision
.missionVision {
    position: relative;
}

.missionVision__container {
    display: flex;
    gap: 6rem;
}

.missionVision__icon {
    font-size: 5rem;
    color: var(--second-color2);
}

.missionVision__copy {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.missionVision__title {
    font-size: var(--title-font-size);
    font-family: var(--title-font);
}

.missionVision__text {
    font-size: var(--big-font-size);
    font-weight: 400;
    color: var(--text-color-light);
}

// Values
.values {
    position: relative;
}

.values__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.values__title {
    font-size: var(--title-font-size);
    font-family: var(--title-font);
    font-weight: 600;
}

.values__values {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .values__row:nth-child(odd) {
        flex-direction: row-reverse;
    }
}

.values__row {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.green-card {
    background-color: var(--second-color2);

    .value__circle {
        background-color: var(--second-color1);
    }
}

.blue-card {
    background-color: var(--first-color2);

    .value__circle {
        background-color: var(--first-color1);
    }
}

.value__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 4rem 2rem;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.value__title {
    color: var(--white-color);
    font-size: var(--big-font-size);
    font-family: var(--title-font);
}

.value__description {
    text-align: center;
    color: var(--light-color);
    font-weight: 300;
}

.value__circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

// Philosophy

.philosophy {
    position: relative;
    background: linear-gradient(180deg, #007749 0%, #009E54 50%, #007749 100%);
    min-height: 60vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.philosophy__container {
    display: flex;
    align-items: center;
    gap: 8rem;
    z-index: var(--z-tooltip);
}

.philosophy__img {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-20%, 20%);
    width: 450px;
    height: 450px;
    border-radius: 50%;
}

.philosophy__title {
    font-size: var(--biggest-font-size);
    color: var(--white-color);
    line-height: 100%;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.50);
}

.philosophy__description {
    color: var(--light-color);
}

@media screen and (max-width: 1536px) {
    .hero__img1 {
        width: 250px;
        height: 250px;
    }

    .hero__img2 {
        width: 350px;
        height: 350px;
        bottom: -85px;
    }

    .hero__img3 {
        width: 200px;
        height: 200px;
        top: 150px;
    }
}

@media screen and (max-width: 1280px) {
    .hero__img1 {
        top: 200px;
    }

    .hero__img3 {
        right: 30px;
    }
}

@media screen and (max-width: 1024px) {
    .hero__container {
        display: flex;
        justify-content: center;
    }

    .hero__copy {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
    }

    .hero__description {
        text-align: center;
    }

    .hero__img1 {
        top: 100px;
        left: 50px;
    }

    .hero__img2 {
        width: 25vh;
        height: 25vh;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
    }

    .hero__img3 {
        right: 30px;
    }

    .hero__circle1 {
        width: 200px;
        height: 200px;
        bottom: -50px;
        left: 100px;
    }

    .hero__circle2 {
        width: 150px;
        height: 150px;
        top: auto;
        bottom: 70px;
        left: 70px;
    }

    .hero__circle3 {
        width: 100px;
        height: 100px;
        bottom: 180px;
        top: auto;
        left: 50px;
    }

    .hero__circle4 {
        width: 50px;
        height: 50px;
        bottom: 250px;
        top: auto;
        left: 50px;
    }

    // Story
    .story__container {
        flex-direction: column;
        align-items: center;
    }

    .story__copy {
        align-items: center;
    }

    .story__description {
        text-align: justify;
        text-align-last: center;
    }

    // Philosophy
    .philosophy__container {
        flex-direction: column;
        gap: 2rem;
    }

    .philosophy__img {
        opacity: .3;
        width: 550px;
        height: 550px;
    }
}

@media screen and (max-width: 768px) {
    .hero__img1 {
        width: 25vw;
        height: 25vw;
    }

    .hero__img2 {
        width: 25vw;
        height: 25vw;
    }

    .hero__img3 {
        width: 30vw;
        height: 30vw;
    }

    .hero__circle1 {
        width: 150px;
        height: 150px;
        bottom: -30px;
        left: 100px;
    }

    .hero__circle2 {
        width: 120px;
        height: 120px;
        bottom: 50px;
        left: 70px;
    }

    .hero__circle3 {
        width: 90px;
        height: 90px;
        bottom: 100px;
        left: 60px;
    }

    .hero__circle4 {
        width: 60px;
        height: 60px;
        bottom: 150px;
        left: 50px;
    }

    // Mission & Vision
    .missionVision__container {
        flex-direction: column;
    }

    .missionVision__mission, .missionVision__vision {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .missionVision__copy {
        align-items: center;
    }

    .missionVision__icon {
        font-size: 8rem;
    }

    // Values
    .values__values {
        .values__row {
            flex-direction: column;
    
            &:nth-child(odd) {
                flex-direction: column;
            }
        }
    }

}

@media screen and (max-width: 640px) {
    .hero__title, .hero__subtitle {
        text-align: center;
    }

    .hero__img1 {
        top: 80px;
        left: 30px;
    }

    .hero__img3 {
        top: 50px;
        right: -20px;
        width: 40vw;
        height: 40vw;
    }

    .hero__circle1 {
        width: 100px;
        height: 100px;
        bottom: -30px;
        left: 60px;
    }

    .hero__circle2 {
        width: 80px;
        height: 80px;
        bottom: 30px;
        left: 50px;
    }

    .hero__circle3 {
        width: 60px;
        height: 60px;
        bottom: 70px;
        left: 40px;
    }

    .hero__circle4 {
        width: 40px;
        height: 40px;
        bottom: 100px;
        left: 30px;
    }

    // Philosophy
    .philosophy__img {
        width: 300px;
        height: 300px;
    }
}
