.hero {
    min-height: 85vh;
    background: radial-gradient(50% 50% at 50% 50%, #FFF 45.5%, var(--first-color5) 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__subtitle {
    font-size: 1.3rem;
    color: var(--text-color-light);
    font-weight: 400;
}

.hero__title {
    font-size: var(--biggest-font-size);
    font-family: var(--title-font);
    color: var(--first-color1);
}

.hero__img {
    position: absolute;
    border-radius: 50%;
}

.hero-img1 {
    width: 350px;
    height: 350px;
    top: 10rem;
    left: 10rem;
}

.hero-img2 {
    width: 300px;
    height: 300px;
    top: 10rem;
    right: 12rem;
}

.hero-img3 {
    width: 250px;
    height: 250px;
    bottom: 5rem;
    left: 15rem;
}

.hero-img4 {
    width: 200px;
    height: 200px;
    bottom: 3rem;
    right: 10rem;
}

// Collage
.trips, .events, .holidays {
    position: relative;
}

.collage.trips {
    background: linear-gradient(180deg, var(--first-color5) 0%, rgba(117, 207, 228, 0.00) 50.04%);
}

.collage__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 18rem);
    grid-gap: 1rem;
}

.collage__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
    box-shadow: 0px 8px 8px 0px rgba(73, 73, 73, 0.25);
}

.collage__title {
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: var(--title-font-size);
    color: var(--text-color);
    line-height: 100%;
    font-family: var(--title-font);
}

.collage-img1 {
    grid-row: 1 / 3;
}

.collage-img5 {
    grid-column: span 2;
}

.title-3 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.collage-img16 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.collage-img17 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.collage-img18 {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.collage-img19 {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

@media screen and (max-width: 1536px) {
    .hero-img1 {
        width: 300px;
        height: 300px;
    }
    
    .hero-img2 {
        width: 250px;
        height: 250px;
    }
    
    .hero-img3 {
        width: 260px;
        height: 260px;
    }
    
    .hero-img4 {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 1280px) {
    .hero-img1 {
        width: 280px;
        height: 280px;
        top: 8rem;
        left: 5rem;
    }
    
    .hero-img2 {
        width: 230px;
        height: 230px;
        top: 8rem;
        right: 8rem;
    }
    
    .hero-img3 {
        width: 240px;
        height: 240px;
        bottom: 4rem;
        left: 12rem;
    }
    
    .hero-img4 {
        width: 230px;
        height: 230px;
        right: 8rem;
    }
}

@media screen and (max-width: 1024px) {
    .hero-img1 {
        width: 260px;
        height: 260px;
    }
    
    .hero-img2 {
        width: 200px;
        height: 200px;
    }
    
    .hero-img3 {
        width: 220px;
        height: 220px;
        left: 8rem;
        bottom: 6rem;
    }
    
    .hero-img4 {
        width: 210px;
        height: 210px;
    }
}

@media screen and (max-width: 768px) {
    .hero-img1 {
        width: 200px;
        height: 200px;
        top: 8rem;
        left: 3rem;
    }
    
    .hero-img2 {
        width: 160px;
        height: 160px;
        right: 2rem;
    }
    
    .hero-img3 {
        width: 190px;
        height: 190px;
        bottom: 3rem;
        left: 3rem;
    }
    
    .hero-img4 {
        width: 160px;
        height: 160px;
        right: 5rem;
    }

    .collage__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    .collage__title {
        order: -1;
    }
}

@media screen and (max-width: 640px) {
    .hero-img1 {
        width: 150px;
        height: 150px;
        top: 7rem;
        left: 1rem;
    }
    
    .hero-img2 {
        width: 130px;
        height: 130px;
        right: 2rem;
    }
    
    .hero-img3 {
        width: 150px;
        height: 150px;
        bottom: 2rem;
        left: 2rem;
    }
    
    .hero-img4 {
        width: 150px;
        height: 150px;
        right: 3rem;
    }
}