<main class="main">
    <!-- Hero section -->
    <section class="hero">
        <h3 class="hero__subtitle">Esta es nuestra</h3>
        <h1 class="hero__title">Vida Estudiantil</h1>

        <img src="img/collage1.jpg" alt="" class="hero__img hero-img1">
        <img src="img/collage2.jpg" alt="" class="hero__img hero-img2">
        <img src="img/collage3.jpg" alt="" class="hero__img hero-img3">
        <img src="img/collage4.jpg" alt="" class="hero__img hero-img4">
    </section>

    <!-- Trips -->
    <section class="collage trips section">
        <div class="collage__container container">
            <img src="img/collage1.jpg" alt="" class="collage__img collage-img1">
            <img src="img/collage2.jpg" alt="" class="collage__img collage-img2">
            <img src="img/collage3.jpg" alt="" class="collage__img collage-img3">
            <img src="img/collage5.jpg" alt="" class="collage__img collage-img5">
            <img src="img/collage4.jpg" alt="" class="collage__img collage-img4">
            <img src="img/collage6.jpg" alt="" class="collage__img collage-img6">
            <h2 class="collage__title">Excursiones <br> y viajes</h2>
        </div>
    </section>

    <!-- Special events -->
    <section class="collage events section">
        <div class="collage__container container">
            <img src="img/collage1.jpg" alt="" class="collage__img collage-img8">
            <img src="img/collage2.jpg" alt="" class="collage__img collage-img9">
            <img src="img/collage3.jpg" alt="" class="collage__img collage-img10">
            <img src="img/collage4.jpg" alt="" class="collage__img collage-img11">
            <h2 class="collage__title">Eventos <br> especiales</h2>
            <img src="img/collage5.jpg" alt="" class="collage__img collage-img12">
            <img src="img/collage6.jpg" alt="" class="collage__img collage-img13">
            <img src="img/collage8.jpg" alt="" class="collage__img collage-img14">
            <img src="img/collage8.jpg" alt="" class="collage__img collage-img15">
        </div>
    </section>

    <!-- Holidays -->
    <section class="collage holidays section">
        <div class="collage__container container">
            <h2 class="collage__title">Excursiones <br> y viajes</h2>
            <img src="img/collage2.jpg" alt="" class="collage__img collage-img16">
            <img src="img/collage3.jpg" alt="" class="collage__img collage-img17">
            <img src="img/collage4.jpg" alt="" class="collage__img collage-img18">
            <img src="img/collage5.jpg" alt="" class="collage__img collage-img19">
        </div>
    </section>

    <app-contact-link></app-contact-link>
</main>
