// Hero
.hero {
    position: relative;
    height: 95vh;
    background: linear-gradient(180deg, #EEF1F600 50%, #EEF1F6 100%);
    overflow: hidden;
}

.hero__background {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    opacity: .35;
    z-index: -1;
    filter: blur(5px);
}

.hero__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__copy {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;

    .hero__cloud-bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        max-width: none;
        max-height: none;
    }

    .hero__title {
        display: flex;
        flex-direction: column;
    
        h1 {
            font-size: var(--biggest-font-size);
            font-family: var(--title-font);
            color: var(--first-color1);
            line-height: 100%;
            font-weight: 700;
        }
    
        h2 {
            font-size: 1.5rem;
            color: var(--second-color1);
            font-weight: 500;
        }
    }

    h3 {
        color: var(--text-color-light);
        font-weight: 400;
        font-size: 1.5rem;
    }
}

.hero__buttons {
    padding-block: 1rem;
    display: flex;
    gap: 2rem;
}

.hero__img {
    position: relative;

    img {
        width: 600px;
        border-radius: 50%;
        box-shadow: 0px 8px 8px 0px rgba(73, 73, 73, 0.25);
    }

    .circle1 {
        width: 250px;
        height: 250px;
        background-color: var(--first-color4);
        position: absolute;
        bottom: 50px;
        right: -50px;
        border-radius: 50%;
        box-shadow: 0px 8px 8px 0px rgba(73, 73, 73, 0.25);

    }

    .circle2 {
        width: 100px;
        height: 100px;
        background-color: var(--first-color3);
        position: absolute;
        bottom: 250px;
        right: -30px;
        border-radius: 50%;
        box-shadow: 0px 8px 8px 0px rgba(73, 73, 73, 0.25);
    }

    .circle3 {
        width: 150px;
        height: 150px;
        background-color: var(--first-color5);
        position: absolute;
        bottom: 0;
        right: 90px;
        border-radius: 50%;
        box-shadow: 0px 8px 8px 0px rgba(73, 73, 73, 0.25);
    }
}

// Introduction
.intro {
    position: relative;
    overflow: hidden;
}

.intro__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.intro__img {
    width: 600px;
    height: 600px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.intro__copy {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.intro__title {
    color: var(--second-color1);
    font-size: var(--title-font-size);
    line-height: 115%;
    font-family: var(--title-font);

    .title-highlight {
        color: var(--first-color1);
    }
}

.intro__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.circle4 {
    width: 336px;
    height: 336px;
    background-color: var(--first-color2);
    position: absolute;
    left: -67px;
    bottom: -40px;
    border-radius: 50%;
    box-shadow: 0px 8px 8px 0px rgba(73, 73, 73, 0.25);
}

.circle5 {
    width: 216px;
    height: 216px;
    background-color: var(--first-color3);
    position: absolute;
    left: 84px;
    bottom: 221px;
    border-radius: 50%;
    box-shadow: 0px 8px 8px 0px rgba(73, 73, 73, 0.25);
}

.circle6 {
    width: 155px;
    height: 155px;
    background-color: var(--first-color4);
    position: absolute;
    left: 62px;
    top: 254px;
    border-radius: 50%;
    box-shadow: 0px 8px 8px 0px rgba(73, 73, 73, 0.25);
}

.circle7 {
    width: 93px;
    height: 93px;
    background-color: var(--first-color5);
    position: absolute;
    left: 15px;
    top: 237px;
    border-radius: 50%;
    box-shadow: 0px 8px 8px 0px rgba(73, 73, 73, 0.25);
}

// Video production
.production {
    background-color: var(--second-color1);
    padding-block: 2rem;
}

.production__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.production__title {
    color: var(--white-color);
    font-size: var(--big-font-size);
    font-family: var(--title-font);
}

.production__subtitle {
    color: var(--light-color);
    font-size: 1.1rem;
    font-weight: 400;
}

.production__alt-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .alt-btn-bg {
        position: relative;
        width: 60px;
        height: 60px;
        background-color: var(--second-color5);
        border-radius: 50%;

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var(--white-color);
            font-size: 1.5rem;

            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
    }

    .alt-btn-text {
        color: var(--light-color);
        font-weight: 600;
    }
}

// Features
.features {
    position: relative;
}

.features__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.features__row {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    gap: 5rem;
}

// Levels

.levels {
    position: relative;
}

.levels__container {
    display: grid;
    gap: 1rem;
    padding: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.levels__row {
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
}

// Facilities
// .facilities {

// }