<main class="main">
    <!-- Hero -->
    <section class="hero">
        <img src="img/8.jpg" alt="" class="hero__background">

        <div class="hero__container container">
            <div class="hero__copy">
                <img src="img/cloud-bg.png" alt="" class="hero__cloud-bg">
                <div class="hero__title">
                    <h2>Bienvenidos al</h2>
                    <h1>Colegio Sagesse</h1>
                </div>
                <h3>Lorem ipsum dolor sit amet.</h3>
                <div class="hero__buttons">
                    <app-button text="Contactar" icon="ri-phone-fill" url="#" buttonType="fill" buttonColor="first"></app-button>

                    <app-button text="Agendar Cita" icon="ri-book-open-fill" url="#" buttonType="outline" buttonColor="second"></app-button>
                </div>
            </div>

            <div class="hero__img">
                <img src="img/8-min.jpg" alt="">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
            </div>
        </div>
    </section>

    <!-- Introduction -->
    <section class="intro section">
        <div class="intro__container container">
            <img src="img/3.jpg" alt="" class="intro__img">
            <div class="intro__copy">
                <h2 class="intro__title">Formamos personas<br><span class="title-highlight">con corazón y alma</span></h2>
                <div class="intro__content">
                    <p class="intro__paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe quidem exercitationem sit, asperiores distinctio consequatur cum est numquam assumenda beatae veritatis, vero maiores laboriosam enim ducimus doloribus blanditiis aut error, ad atque eius.</p>
                    <p class="intro__paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem nesciunt ducimus non mollitia facere illo ullam perspiciatis, itaque nulla consectetur molestiae omnis ad incidunt rerum, corporis voluptatem laborum earum velit odit voluptate repellendus sunt commodi? Molestiae excepturi voluptatem incidunt ab.</p>
                </div>
            </div>
        </div>

        <div class="circle4"></div>
        <div class="circle5"></div>
        <div class="circle6"></div>
        <div class="circle7"></div>
    </section>

    <!-- Video production -->
    <section class="production">
        <div class="production__container container">
            <h2 class="production__title">Conoce nuestras <br>instalaciones</h2>

            <h4 class="production__subtitle">Da click en el enlace y descubre la experiencia Sagesse.</h4>

            <a href="#" class="production__alt-btn">
                <div class="alt-btn-bg">
                    <i class="ri-arrow-right-line"></i>
                </div>

                <span class="alt-btn-text">Ir al vídeo</span>
            </a>
        </div>
    </section>

    <!-- Features -->
    <section class="features section">
        <div class="features__container container">
            <div class="features__row">
                <app-feature title="Ventaja competitiva 1" description="Lorem ipsum dolor sit amet" icon="ri-pencil-ruler-line" orientation="right"></app-feature>

                <app-feature title="Ventaja competitiva 2" description="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem nesciunt ducimus non mollitia facere illo ullam perspiciatis" icon="ri-pencil-ruler-2-line" orientation="left"></app-feature>
            </div>

            <div class="features__row">
                <app-feature title="Ventaja competitiva 1" description="Lorem ipsum dolor sit amet" icon="ri-pencil-ruler-line" orientation="right"></app-feature>

                <app-feature title="Ventaja competitiva 2" description="Lorem ipsum dolor sit amet" icon="ri-pencil-ruler-2-line" orientation="left"></app-feature>
            </div>
        </div>
    </section>

    <!-- Levels -->
    <section class="levels section">
        <div class="levels__container">
            <app-level-card title="Maternal" imgUrl="5" color="#B1CF78"></app-level-card>
            <app-level-card title="Preescolar" imgUrl="4" color="#96CC77"></app-level-card>
            <app-level-card title="Prefirst" imgUrl="2" color="#00AF65"></app-level-card>
            <app-level-card title="Primaria" imgUrl="6" color="#009E54"></app-level-card>
            <app-level-card title="Secundaria" imgUrl="7" color="#009E54"></app-level-card>
        </div>
    </section>

    <!-- Facilities -->
    <section class="facilities section">
        <div class="facilities__container container">
            <div class="facilities__info">
                <h2 class="facilities__title">Nuestras instalaciones</h2>
                <p class="facilities__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quo nam amet pariatur placeat beatae animi laborum ut dolor esse?</p>
            </div>
            <swiper-container init="false">
                <swiper-slide class="facilities__swiper">
                    <div class="facilities__slide">
                        <img src="img/facilities-test.jpg" alt="" class="facilities__img">
                        <div class="facilities__overlay"></div>
                        <h3 class="facilities__img-title">Áreas verdes</h3>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="facilities__slide">
                        <img src="img/facilities-test.jpg" alt="" class="facilities__img">
                        <div class="facilities__overlay"></div>
                        <h3 class="facilities__img-title">Área de juegos</h3>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="facilities__slide">
                        <img src="img/facilities-test.jpg" alt="" class="facilities__img">
                        <div class="facilities__overlay"></div>
                        <h3 class="facilities__img-title">Cancha de fútbol</h3>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="facilities__slide">
                        <img src="img/facilities-test.jpg" alt="" class="facilities__img">
                        <div class="facilities__overlay"></div>
                        <h3 class="facilities__img-title">Cancha de fútbol</h3>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="facilities__slide">
                        <img src="img/facilities-test.jpg" alt="" class="facilities__img">
                        <div class="facilities__overlay"></div>
                        <h3 class="facilities__img-title">Cancha de fútbol</h3>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="facilities__slide">
                        <img src="img/facilities-test.jpg" alt="" class="facilities__img">
                        <div class="facilities__overlay"></div>
                        <h3 class="facilities__img-title">Cancha de fútbol</h3>
                    </div>
                </swiper-slide>
            </swiper-container>
        </div>
    </section>
</main>
