// Hero
.hero {
    position: relative;
    height: 95vh;
    background: linear-gradient(180deg, #EEF1F600 50%, #EEF1F6 100%);
}

.hero__background {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    opacity: .35;
    z-index: -1;
    filter: blur(5px);
}

.hero__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__copy {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;

    .hero__cloud-bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        max-width: none;
        max-height: none;
    }

    .hero__title {
        display: flex;
        flex-direction: column;
    
        h1 {
            font-size: var(--biggest-font-size);
            font-family: var(--title-font);
            color: var(--first-color1);
            line-height: 100%;
            font-weight: 700;
        }
    
        h2 {
            font-size: 1.5rem;
            color: var(--second-color1);
            font-weight: 500;
        }
    }

    h3 {
        color: var(--text-color-light);
        font-weight: 400;
        font-size: 1.5rem;
    }
}

.hero__buttons {
    padding-block: 1rem;
    display: flex;
    gap: 2rem;
}

.hero__img {
    position: relative;

    img {
        width: 600px;
        border-radius: 50%;
        box-shadow: 0px 8px 8px 0px rgba(73, 73, 73, 0.25);
    }

    .circle1 {
        width: 250px;
        height: 250px;
        background-color: var(--first-color4);
        position: absolute;
        bottom: 50px;
        right: -50px;
        border-radius: 50%;
        box-shadow: 0px 8px 8px 0px rgba(73, 73, 73, 0.25);

    }

    .circle2 {
        width: 100px;
        height: 100px;
        background-color: var(--first-color3);
        position: absolute;
        bottom: 250px;
        right: -30px;
        border-radius: 50%;
        box-shadow: 0px 8px 8px 0px rgba(73, 73, 73, 0.25);
    }

    .circle3 {
        width: 150px;
        height: 150px;
        background-color: var(--first-color5);
        position: absolute;
        bottom: 0;
        right: 90px;
        border-radius: 50%;
        box-shadow: 0px 8px 8px 0px rgba(73, 73, 73, 0.25);
    }
}
