<main class="main">
    <!-- Hero -->
    <section class="hero">
        <img src="img/1-min.jpg" alt="" class="hero__background">

        <div class="hero__container container">
            <div class="hero__copy">
                <img src="img/cloud-bg.png" alt="" class="hero__cloud-bg">
                <div class="hero__title">
                    <h2>Bienvenidos al</h2>
                    <h1>Colegio Sagesse</h1>
                </div>
                <h3>Lorem ipsum dolor sit amet.</h3>
                <div class="hero__buttons">
                    <app-button text="Contactar" icon="ri-phone-fill" url="#" buttonType="fill" buttonColor="first"></app-button>

                    <app-button text="Agendar Cita" icon="ri-book-open-fill" url="#" buttonType="outline" buttonColor="second"></app-button>
                </div>
            </div>

            <div class="hero__img">
                <img src="img/2.jpg" alt="">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
            </div>
        </div>
    </section>
</main>
