// Hero
.hero {
    position: relative;
    height: 95vh;
    background: linear-gradient(180deg, #EEF1F600 50%, #EEF1F6 100%);
    overflow: hidden;
}

.hero__background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    opacity: .35;
    z-index: -1;
    filter: blur(5px);
}

.hero__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__copy {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    overflow: visible;

    h3 {
        color: var(--text-color-light);
        font-weight: 400;
        font-size: 1.5rem;
    }
}

.hero__cloud-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(125%);
    z-index: -1;
    // width: 1200px;
    height: auto;
}

.hero__title {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: var(--biggest-font-size);
        font-family: var(--title-font);
        color: var(--first-color1);
        line-height: 100%;
        font-weight: 700;
    }

    h2 {
        font-size: 1.5rem;
        color: var(--second-color1);
        font-weight: 500;
    }
}

.hero__buttons {
    padding-block: 1rem;
    display: flex;
    gap: 2rem;
}

.hero__img {
    position: relative;

    img {
        width: 600px;
        border-radius: 50%;
        box-shadow: 0px 8px 8px 0px rgba(73, 73, 73, 0.25);
    }

    .circle1 {
        width: 250px;
        height: 250px;
        background-color: var(--first-color4);
        position: absolute;
        bottom: 50px;
        right: -50px;
        border-radius: 50%;
        box-shadow: 0px 8px 8px 0px rgba(73, 73, 73, 0.25);

    }

    .circle2 {
        width: 100px;
        height: 100px;
        background-color: var(--first-color3);
        position: absolute;
        bottom: 250px;
        right: -30px;
        border-radius: 50%;
        box-shadow: 0px 8px 8px 0px rgba(73, 73, 73, 0.25);
    }

    .circle3 {
        width: 150px;
        height: 150px;
        background-color: var(--first-color5);
        position: absolute;
        bottom: 0;
        right: 90px;
        border-radius: 50%;
        box-shadow: 0px 8px 8px 0px rgba(73, 73, 73, 0.25);
    }
}

// Introduction
.intro {
    position: relative;
    overflow: hidden;
}

.intro__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.intro__img {
    width: 600px;
    height: 600px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.intro__copy {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.intro__title {
    color: var(--second-color1);
    font-size: var(--title-font-size);
    line-height: 115%;
    font-family: var(--title-font);

    .title-highlight {
        color: var(--first-color1);
    }
}

.intro__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.circle4 {
    width: 336px;
    height: 336px;
    background-color: var(--first-color2);
    position: absolute;
    left: -67px;
    bottom: -40px;
    border-radius: 50%;
    box-shadow: 0px 8px 8px 0px rgba(73, 73, 73, 0.25);
}

.circle5 {
    width: 216px;
    height: 216px;
    background-color: var(--first-color3);
    position: absolute;
    left: 84px;
    bottom: 221px;
    border-radius: 50%;
    box-shadow: 0px 8px 8px 0px rgba(73, 73, 73, 0.25);
}

.circle6 {
    width: 155px;
    height: 155px;
    background-color: var(--first-color4);
    position: absolute;
    left: 62px;
    top: 254px;
    border-radius: 50%;
    box-shadow: 0px 8px 8px 0px rgba(73, 73, 73, 0.25);
}

.circle7 {
    width: 93px;
    height: 93px;
    background-color: var(--first-color5);
    position: absolute;
    left: 15px;
    top: 237px;
    border-radius: 50%;
    box-shadow: 0px 8px 8px 0px rgba(73, 73, 73, 0.25);
}

// Video production
.production {
    background-color: var(--second-color1);
    padding-block: 2rem;
}

.production__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.production__title {
    color: var(--white-color);
    font-size: var(--big-font-size);
    font-family: var(--title-font);
}

.production__subtitle {
    color: var(--light-color);
    font-size: 1.1rem;
    font-weight: 400;
}

.production__alt-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .alt-btn-bg {
        position: relative;
        width: 60px;
        height: 60px;
        background-color: var(--second-color5);
        border-radius: 50%;

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var(--white-color);
            font-size: 1.5rem;

            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
    }

    .alt-btn-text {
        color: var(--light-color);
        font-weight: 600;
    }
}

// Features
.features {
    position: relative;
}

.features__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.features__row {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    gap: 5rem;
}

// Levels
.levels {
    position: relative;
}

.levels__container {
    display: grid;
    gap: 1rem;
    padding: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.levels__row-desktop {
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
    gap: 1rem;

}

.levels__card-mobile {
    display: none;
}

// Facilities
.facilities {
    position: relative;
}

.facilities__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.facilities__slide {
    position: relative;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 1rem;
}

.facilities__info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.facilities__description {
    font-size: 1.3rem;
}

.facilities__title {
    color: var(--first-color1);
    font-size: var(--title-font-size);
    line-height: 100%;
    text-align: center;
}

.facilities__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.facilities__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 40%, #75CFE4 100%);
    z-index: -1;
}

.facilities__img-title {
    font-family: var(--title-font);
    color: var(--light-color);
    font-size: 3.5rem;
}

// Collage
.collage {
    min-height: 90vh;
    position: relative;
    background-color: var(--first-color5);
    overflow: hidden;
}

.collage__title {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--title-font);
    font-size: var(--biggest-font-size);
    color: var(--light-color);
    z-index: 14;
}

.collage__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 13;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(117, 207, 228, 0.00) 63.36%, rgba(117, 207, 228, 1.00) 100%);
}

.collage__img {
    position: absolute;
    border-radius: 50%;
    width: auto;
    overflow: hidden;

    .collage__img-overlay {
        position: absolute;
        opacity: .4;
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;
        // height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.collage__img-1 {
    width: 50vw;
    left: -14vw;
    top: -14vh;

    .collage__img-overlay {
        background-color: var(--second-color5);
    }
}

.collage__img-2 {
    width: 40vw;
    left: 40vw;
    top: -8vh;

    .collage__img-overlay {
        background-color: var(--second-color1);
    }
}

.collage__img-3 {
    width: 35vw;
    right: -5vw;
    top: -15vh;
    z-index: 12;

    .collage__img-overlay {
        background-color: var(--second-color2);
    }
}

// .collage__img-4 {
//     width: 300px;
// }

.collage__img-5 {
    width: 40vw;
    right: -10vw;
    bottom: -20vh;
    z-index: 11;

    .collage__img-overlay {
        background-color: var(--first-color2);
    }
}

.collage__img-6 {
    width: 30vw;
    left: 25vw;
    top: -10vh;
    z-index: 5;

    .collage__img-overlay {
        background-color: var(--first-color4);
    }
}

.collage__img-7 {
    width: 28vw;
    left: 50vh;
    top: 50vh;
    z-index: 6;

    .collage__img-overlay {
        background-color: var(--first-color5);
    }
}

.collage__img-8 {
    width: 30vw;
    right: 482px;
    bottom: 85px;
    z-index: 7;

    .collage__img-overlay {
        background-color: var(--first-color1);
    }
}

.collage__img-9 {
    width: 35vw;
    left: 515px;
    bottom: -198px;
    z-index: 9;

    .collage__img-overlay {
        background-color: var(--second-color5);
    }
}

.collage__img-10 {
    width: 30vw;
    right: -224px;
    top: -73px;
    z-index: 10;

    .collage__img-overlay {
        background-color: var(--first-color1);
    }
}

.collage__img-11 {
    width: 20vw;
    right: 492px;
    bottom: -151px;
    z-index: 8;

    .collage__img-overlay {
        background-color: var(--second-color1);
    }
}

.collage__img-12 {
    width: 30vw;
    left: -65px;
    bottom: -186px;
    z-index: 3;

    .collage__img-overlay {
        background-color: var(--first-color1);
    }
}

// Map
.map {
    position: relative;
    min-height: 90vh;
    background-color: #E8F7FC;
}

.map__map {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1280px) {
    // Hero
    .hero__img {
        img {
            width: 400px;
        }

        .circle1 {
            width: 175px;
            height: 175px;
        }

        .circle2 {
            width: 100px;
            height: 100px;
            bottom: 190px;
        }

        .circle3 {
            width: 125px;
            height: 125px;
            right: 50px;
        }
    }

    // Intro
    .intro__img {
        width: 400px;
        height: 400px;
    }

    .circle4 {
        width: 250px;
        height: 250px;
    }

    .circle5 {
        width: 200px;
        height: 200px;
        bottom: 100px;
    }

    .circle6 {
        width: 150px;
        height: 150px;
    }

    .circle7 {
        width: 100px;
        height: 100px;
    }

    // Levels
    .levels__container {
        grid-template-columns: 1fr 1fr;
    }

    .levels__row-desktop {
        display: none;
    }

    .levels__card-mobile {
        display: inline-block;
    }

    .levels__container > app-level-card:nth-child(6) {
        grid-column: 1 / span 2;
    }
}

@media screen and (max-width: 1024px) {
    .hero__container {
        flex-direction: column;
        justify-content: center;
        gap: 8rem;
    }

    .hero__copy {
        margin-top: 4rem;
        gap: .5rem;
        align-items: center;

        h3 {
            font-size: 1rem;
        }
    }

    .hero__title {
        align-items: center;
    }

    .hero__cloud-bg {
        transform: translate(-50%, -50%) scale(150%);
    }

    .hero__img {
        img {
            width: 30vw;
        }

        .circle1 {
            width: 15vw;
            height: 15vw;
            bottom: 6vh;
            right: -5vw;
        }

        .circle2 {
            width: 8vw;
            height: 8vw;
            bottom: 14vh;
            right: -5vw;
        }

        .circle3 {
            width: 12vw;
            height: 12vw;
            bottom: 0;
            right: 2vw;
        }
    }

    // Intro
    .intro__container {
        flex-direction: column;
        gap: 3rem;
    }

    .intro__copy {
        align-items: center;
        max-width: 100%;
    }

    .circle4 {
        width: 200px;
        height: 200px;
        top: 200px;
    }

    .circle5 {
        width: 150px;
        height: 150px;
        top: 150px;
    }

    .circle6 {
        width: 100px;
        height: 100px;
        top: 100px;
        left: 150px;
    }

    .circle7 {
        width: 50px;
        height: 50px;
        top: 70px;
        left: 200px;
    }
}

@media screen and (max-width: 768px) {
    .mobile-br {
        display: none;
    }
    
    // Video production
    .production__container {
        flex-direction: column;
        gap: 1rem;
    }

    .production__title {
        text-align: center;
    }

    .production__alt-btn {
        gap: .5rem;

        .alt-btn-bg {
            height: 45px;
            width: 45px;

            i {
                font-size: 1.2rem;
            }
        }
    }

    // Features
    .features__row {
        flex-direction: column;
    }
}

@media screen and (max-width: 640px) {
    .hero__img {
        
        img {
            width: 60vw;
        }
    }

    .hero__buttons {
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
    }

    .hero__cloud-bg {
        transform: translate(-50%, -50%) scale(200%);
    }

    // Introduction
    .circle4 {
        width: 150px;
        height: 150px;
        top: 90px;
        left: -60px;
    }

    .circle5 {
        width: 120px;
        height: 120px;
        top: 60px;
        left: 40px;
    }

    .circle6 {
        width: 90px;
        height: 90px;
        top: 30px;
        left: 100px;
    }

    .circle7 {
        width: 60px;
        height: 60px;
        top: 0;
        left: 130px;
    }

    .production__subtitle {
        text-align: center;
    }

    .levels__container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}
