<main class="main">
    <!-- Hero -->
    <section class="hero">
        <div class="hero__container container">
            <h2 class="hero__subtitle">Forma parte de la Familia Sagesse desde hoy</h2>
            <h1 class="hero__title">Admisiones 2024</h1>
        </div>
    </section>

    <!-- Steps -->
    <section class="steps section">
        <div class="steps__container container">
            <div class="steps__step">
                <h2 class="step__title">Solicitud</h2>
                <p>Las solicitudes para admisión se recogen en las oficinas administrativas del Sagesse de lunes a viernes de 8:00 a 15:00 hrs.</p> 
                <p>Se deberá anexar a la solicitud:</p>

                <div class="step__list">
                    <span class="step__item">
                        <i class="ri-arrow-right-s-fill"></i> Copia del acta de nacimiento
                    </span>
                    <span class="step__item">
                        <i class="ri-arrow-right-s-fill"></i> Copia de la CURP
                    </span>
                    <span class="step__item">
                        <i class="ri-arrow-right-s-fill"></i> 1 fotografía tamaño infantil
                    </span>
                    <span class="step__item">
                        <i class="ri-arrow-right-s-fill"></i> Copia del INE de los padres o tutor
                    </span>
                    <span class="step__item">
                        <i class="ri-arrow-right-s-fill"></i> Cubrir el importe de la valoración diagnóstica*
                    </span>
                </div>

                <span class="step__number">1</span>
            </div>

            <div class="steps__step">
                <h2 class="step__title">Admisión</h2>
                <p>Una vez aceptada la solicitud, los aspirantes deberán presentar la valoración diagnóstica que se conforma por evaluación psicopedagógica. Como parte del proceso, se solicitará una entrevista familiar. El resultado se comunicará tres días posteriores a la entrevista.</p>

                <span class="step__number">2</span>
            </div>

            <div class="steps__step">
                <h2 class="step__title">Inscripción</h2>
                <p>Una vez admitido el alumno se podrá realizar el trámite de inscripción que consiste en:</p>

                <div class="step__list">
                    <span class="step__item">
                        <i class="ri-arrow-right-s-fill"></i> Realizar el pago correspondiente a la inscripción.
                    </span>
                    <span class="step__item">
                        <i class="ri-arrow-right-s-fill"></i> Entregar la documentación solicitada en Control Escolar para que su inscripción sea debidamente concluida en los plazos señalados.
                    </span>
                </div>

                <span class="step__number">3</span>
            </div>
        </div>
    </section>

    <!-- Contact link -->
    <app-contact-link></app-contact-link>
</main>
